.barChart
{
    width: 60%;
    height: 70%;
    margin-left: 20%;
    margin-top: 5%;
    border-style: outset;

}


.pieChart
{
    width: 60%;
    height: 70%;
    margin-left: 20%;
    margin-top: 5%;
    border-style: outset;

}

