<div class="container">
    <h2 align="center"  style="color:gray">Proud to serve you</h2>
  <h2 align="center"  style="color:gray">Contact Us</h2>

  <br>

  <div class="row">
    <div class="col-sm" style="margin-left: 8%">
        <img src="../../assets/images/location.png" alt="loc">
    </div>
    <div class="col-sm" style="margin-left: 8%">
        <img src="../../assets/images/phone.png" alt="call">
    </div>
    <div class="col-sm" style="margin-left: 8%">
        <img src="../../assets/images/email.png" alt="call">
    </div>
  </div>

  <br>
 

  <div class="row">
    <div class="col-sm">
        <p style="color:gray" >1 Schroeder Plaza, Boston, MA 02120</p>
    </div>
    <div class="col-sm" style="margin-left: 8%">
        <p style="color:gray" >(617) 343-4633</p>
    </div>
    <div class="col-sm">
        <a style="color:blue" >support@crimecatch.com</a>
    </div>
  </div>

</div>
