<mat-card class="main-container profile">
  <mat-card-title>
    User Profile
  </mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="updateForm" (ngSubmit)="update()">
      <table>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input matInput #ssn maxlength="9" name="ssn" placeholder="SSN" formControlName="ssn">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input [value]="email" matInput placeholder="Email" name="email" formControlName="email">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input matInput placeholder="First Name" name="firstname" formControlName="firstname">
              <mat-error *ngIf="updateForm.controls.firstname.invalid">You must enter a value</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="demo-full-width">
              <input matInput placeholder="Last Name" name="lastname" formControlName="lastname">
              <mat-error *ngIf="updateForm.controls.lastname.invalid">You must enter a value</mat-error>
            </mat-form-field>
          </td>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input matInput maxlength="20" name="street" placeholder="Address Line 1" formControlName="address1">
              <mat-error *ngIf="updateForm.controls.address1.invalid">You must enter a value</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="demo-full-width">
              <input matInput maxlength="15" name="address2" placeholder="Address Line 2" formControlName="address2">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <mat-select [(value)]="selectedCity" placeholder="City" name="City" formControlName="city">
                <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
              </mat-select>
              <mat-error *ngIf="updateForm.controls.city.invalid">You must select a value</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="demo-full-width">
              <mat-select [(value)]="selectedState" placeholder="State" name="State" formControlName="state">
                <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
              </mat-select>
              <mat-error *ngIf="updateForm.controls.state.invalid">You must select a value</mat-error>
            </mat-form-field>
          </td>

        </tr>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <mat-select [(value)]="selectedCountry" placeholder="Country" name="country" formControlName="country">
                <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
              </mat-select>
              <mat-error *ngIf="updateForm.controls.country.invalid">You must select a value</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="demo-full-width">
              <input matInput #zip maxlength="5" name="zipcode" placeholder="Zipcode" formControlName="zipcode">
              <mat-hint align="end">{{zip.value?.length || 0}}/5</mat-hint>
              <mat-error *ngIf="updateForm.controls.zipcode.invalid">{{getZIPErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input matInput #cellphone maxlength="10" name="phone" placeholder="Cell Number" formControlName="cellphone">
              <mat-hint align="end">{{cellphone.value?.length || 0}}/10</mat-hint>
              <mat-error *ngIf="updateForm.controls.cellphone.invalid">{{getCellPhoneErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input matInput placeholder="Emergency Contact Name" name="emerName" formControlName="emerName">
              <mat-error *ngIf="updateForm.controls.emerName.invalid">You must enter a value</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="demo-full-width">
              <input matInput placeholder="Emergency Contact Email" name="emerEmail" formControlName="emerEmail">
              <mat-error *ngIf="updateForm.controls.emerEmail.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table><br>
      <button mat-raised-button class="btnColor edit" (click)="toggle()">Edit</button>
      <button mat-raised-button class="btnColor">Update</button>
    </form>
  </mat-card-content>
</mat-card>
