agm-map {
  height: 600px;
  width: 100%;
  top: 0px;
  bottom: 0px;
  float: left;
}

.button {
  background-color:orange;
  color:white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 80px;
}

#crimeheader
{
 padding: 3px;
 background-color: red;
 height: 25px;
 color: white;
 border-radius: 8px;
 font-size: 14px;
 text-align: center;
}

#filterbar{
  padding: 10px;
  width: 100%;
  background-color:#666666;
  height:60px;
}







