<app-home></app-home>
<br>
<section class="section parallax parallax-1">
  <div class="container">
    <h1>OUR MISSION</h1>
    <p>We, the members of the Boston Police Department, are committed to excellence in law enforcement and are dedicated to the people, traditions and diversity of our City. In order to protect life and property, prevent crime and reduce the fear of crime, we will provide service with understanding, response with compassion, performance with integrity and law enforcement with vision. We Believe that while Crime Prevention is our Principal Goal, We should Vigorously Pursue those who Commit Serious Crimes.Our Highest Priority is the Protection of Human Life. We are committed to Solving Neighborhood Problems. We Care about the Quality of Life in the City's Neighborhoods and Believe that our Services Must Answer their Needs. </p>
  </div>
</section>
<section class="section content">
  <div class="container">
    <h2 align="center">Services</h2>
    <div class= servicecontainer>
        <div class="row">
            <div class="col-sm" style="margin-left: 8%">
                <a routerLink="/maps"><div class="circle"><img src="../../assets/images/maps.png" alt="maps"></div></a>
            </div>
            <div class="col-sm" style="margin-left: 8%">
                <a href="/home"><div class="circle"><img src="../../assets/images/alert.png" alt="alerts"></div></a>
            </div>
            <div class="col-sm" style="margin-left: 8%">
                <a href="/search-news"><div class="circle"><img src="../../assets/images/blog.png" alt="news"></div></a>
            </div>
          </div>
        
          <br>
         
        
          <div class="row">
            <div class="col-sm" style="margin-left: 8%">
                <p style="color:gray" >Find on maps</p>
            </div>
            <div class="col-sm" style="margin-left: 5%">
                <p style="color:gray" >Create alert</p>
            </div>
            <div class="col-sm">
                <p style="color:gray" style="margin-left: 15%" >News updates</p>
            </div>
          </div>
    </div>
  </div>
</section>
<section class="section parallax parallax-2">
  <div class="container">
    <h1>CRIME FIGURES </h1>
    <p>The uses of existing crime data include operational and resource allocation decisions by law enforcement, local and state government agencies, and businesses and other groups. Crime data are also a critical source of information for program and policy evaluations by researchers in government, academia, and the public and private sectors. 
      </p>
  </div>

</section>
<section class="section content">
  <div class="container">
   
    <!-- <button type="button" class="btn btn-outline-secondary">Click to view more statistics</button>
    <button [routerLink]="['/charts']" ion-button button-icon icon-start></button>
    <a class="charts-link" routerLink="/charts">Click to view more statistics</a> -->
    <!-- <button [routerLink]="['/charts']" ion-button button-icon icon-start><a class="charts-link" routerLink="/charts">Click to view more statistics</a></button> -->
  </div>
</section>
<section class="section parallax parallax-3">
  <div class="container">
    <h1>Join us</h1>
    <br>
    <br>
    <div class= joincontainer>
        <div class="row">
            <div class="col-sm" style="margin-left: 10%">
                <button type="button" class="btn btn-secondary btn-lg ">SUBMIT A TIP</button>
            </div>
            <div class="col-sm" style="margin-left: 0%">
                <button type="button" class="btn btn-secondary btn-lg" >JOIN LAW ENFORCEMENT</button>
              </div>
        </div>
    </div>

  </div>
</section>
<section class="section content">
  <div class="container" style="background-color: black ;">
    <h2 align="center" style="color:gray">Something very impoertant</h2>
  </div>
</section>
<app-footer></app-footer>